* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #fde7ee;
}

/* MAIN CONTAINER */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* TOP */
.top {
    height: 20%;
    display: flex;
    background-color: pink;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menu {
    height: 10%;
    display: flex;
    background-color: #f8bbd0;
}

.menu div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENT */
.content {
    height: 70%;
    display: flex;
}

/* LEFT PANEL */
.services {
    width: 20%;
    padding: 15px;
    border-right: 4px solid white;
}

/* RIGHT PANEL */
.main {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}

/* PAGE SWITCH */
.page {
    display: none;
}

.page:target {
    display: block;
}

/* TEXT */
h1 {
    color: purple;
}

h2, h3 {
    color: darkmagenta;
    margin-bottom: 10px;
}

p, li {
    margin-bottom: 8px;
}

a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: purple;
    color: white;
    padding: 3px;
}
